<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'RateMyDay' %></title>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <%= link_to "RateMyDay", root_path %>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="/"><span>Menu</span></a>
          </li>
        </ul>
        <section class="top-bar-section">
        <ul class="right">
            <% if user_signed_in? %>
              <li class="has-form"><a href="#" data-reveal-id="myModal" class="button radius">Rating My Day</a></li>
              <li><%= image_tag current_user.image, size: "50x50" %></li>
              <li class="divider"></li>
              <li><%=link_to "@#{current_user.username}", "#{current_user.url}", target: "_blank" %> </li>
              <li class="divider"></li>
              <li class="active"><%= link_to 'Sign Out', user_sign_out_path %></li>
            <% else %>
              <li class="active"><%= link_to 'Sign In', user_sign_in_path %></li>
            <% end %>
        </ul>
        </section>
      </nav>
    </div>

    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
